h1 {
    text-shadow: 4px 4px #000000;
}

#about-section {
    background-color: #2d0000;
    width: fit-content;
    display: grid;
    grid-template-columns: 25% 75%;
    justify-content: center;
}

#about-image {
    width: 100%;
}

#about-me {
    padding: 0em 2em;
}