h1 {
    text-shadow: 4px 4px #000000;
}

#about-section {
    width: fit-content;
    padding: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #2d0000;
}

#about-image {
    padding: 0em 2em;
    width: 10em;
}