/*--Common Sytles--*/
@font-face {
    font-family: "TightPixel";
    src: url("../fonts/TightPixel.ttf") format('truetype');
}

a {
    text-decoration: none;
    color : inherit;
}

/*--Header--*/
header {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: fit-content;
    padding: 1em, 4em;
    background-color: #a40000 ;
    color: #000000;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

a.nav-link {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #a40000 ;
}

a.nav-link:hover {
    background-color: #ef0000;
    color: #2d0000;
    text-shadow: 2px 2px #000000;
}

a.nav-link:active {
    background-color: #000000;
    color: #ef0000;
    text-shadow: 2px 2px #2d0000;
}

/*Body*/
body {
    font-family: "TightPixel", sans-serif;
    font-size: 3em;
    background-color: #000000;
    color: #a40000;
}

main {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Footer*/
footer {
    position: relative;
    left: 0;
    right: 0;
    height: fit-content;
    padding: 1em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a40000;
    color: #000000;
}